<div class="text-center">
  <div class="bg-primary p-3">
    <h1 class="text-light">TP Integrador Final HIA</h1>
    <ul class="nav nav-pills nav-justified">
      <li class="nav-item">
        <a
          class="link-light link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover link-underline link-underline-opacity-0"
          [routerLink]="['punto1']"
          >Punto 1</a
        >
      </li>
      <li class="nav-item">
        <a
          class="link-light link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover link-underline link-underline-opacity-0"
          [routerLink]="['punto2']"
          >Punto 2</a
        >
      </li>
      <li class="nav-item">
        <a
          class="link-light link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover link-underline link-underline-opacity-0"
          [routerLink]="['punto3']"
          >Punto 3</a
        >
      </li>
    </ul>
  </div>
</div>
